$shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-md: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$color-primary: #3f51b5;
$gradient: radial-gradient(circle, #3f51b5, #5f18af);
$gradient-2: linear-gradient(90deg, #3f51b5 0%, #0277bd 48%, #02bd79 100%);

#about {
    color: #000;
}
#about h3 {
    color: #404040;
}
.about-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#browser, #os, #lang, #soft {
    margin: 1em 0 2em;
    width: 50%;
}
@media (max-width: 750px) {
    .about-container {
        display: none !important;
    }
}
.bottom-container {
    display: flex;
    margin: 2em auto 1em;
    justify-content: center;
}
.about-container svg, .section svg {
    height: 50px;
    width: 50px;
    margin: 5px;
}
#browser > div, #os > div, #lang > div, #soft > div {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 auto;
}
#browser > div > div, #os > div > div, #lang > div > div, #soft > div > div {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}
.rain {
    content: '';
    width: 50px;
    height: 80px;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    background-color: black;
}

.section {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1em;
    margin: 0 auto;
}
.section > #browser, .section > #os, .section > #lang, .section > #soft {
    width: 90vw;
    display: inline-table;
    scroll-snap-align: center;
}
#bottom-indicator {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#bottom-indicator > div {
    width: 10px;
    height: 10px;
    margin: 0 1em;
    border-radius: 50%;
    border: solid 2px $color-primary;
    transition: all ease-in 500ms;
}
#bottom-indicator > div.active {
    background: $gradient;
    width: 15px;
    height: 15px;
    transition: all ease-in 100ms;
}
@media (min-width: 750px) {
    .section {
        display: none;
    }
    #bottom-indicator {
        display: none;
    }
}

#blue-animation2 {
    background: radial-gradient(circle, #3f51b5, #5f18af);
    height: 25px;
    width: 60%;
    position: absolute;
    left: 0;
    border-bottom-right-radius: 50px;
    top: 70px;
    transition: all ease-in-out 1000ms;
    z-index: 1;
}
.blue-strip2 {
    transform: translate3d(-100vw, 0px, 0px);
    transition: all ease-in-out 1000ms;
}
