.footer {
    display: block;
    height: fit-content;
    color: #fff;
}
.footer-1 {
    background: radial-gradient(circle, #3f51b5, #5f18af);
    height: calc(80vh - 6em);
    display: flex;
    padding: 5em 1em 1em;
}
.footer-1 > div {
    width: 33vw;
}
.footer-1 > div:nth-child(2) h3{
    font-size: 1.5em;
}
.footer-2 {
    background-color: #282828;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-2 p {
    margin: 0;
}
.social-icon {
    width: 3em;
    height: 3em;
    margin: 0 10px 10px;
} 
.social-icon svg {
    width: 3em;
    height: 3em;
    margin: 0 10px 10px;
}
@media (max-width: 1200px) {
    .footer-1 {
        flex-wrap: wrap; 
        justify-content: center;
    }
}
@media (max-width: 750px) {
    .footer-1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-1 > div{
        width: 100%;
    }
}
@media (max-width: 380px) {
    .footer-1 {
        height: calc(80vh - 2em);
        padding: 1em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1em;
    }
}
@media (max-width: 320px) {
    .footer-1 {
        height: calc(80vh - 2em);
        padding: 1em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1em;
    }
}