$neu-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px -2px 5px rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(90deg, rgba(63,81,181,1) 0%, rgba(2,119,189,1) 48%, rgba(2,189,121,1) 100%);
$color-main: rgba(2,119,189,1);
$gradient-2: linear-gradient(90deg, #3f51b5 0%, #5f18af 100%);

$shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-md: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.hero {
    display: flex;
    margin: 0;
    position: relative;
    background: $gradient;

}
.hero-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: 
    radial-gradient(
      farthest-side at bottom left,
      rgba(255, 0, 255, 0.5), 
      transparent 
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(255, 50, 50, 0.5), 
      transparent 800px
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.5), 
      transparent 100px
    ),
}
.hero > div {
    width: 50%;
    margin: 1em;
}
.glass-box {
    max-width: 600px;
    height: 300px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 1em;
    position: relative;
    z-index: 4;
    background: inherit;
    overflow: hidden;
    top: calc(50% - 150px);
    margin: 0 auto 0 0;
    padding: 1em;
    color: #fff;
    transition: all ease 500ms;
    transition-delay: 500ms;
}
.glass-box-transform {
    transform: translate3d(100vw, 0px, 0px);
}
.glass-box div:first-child {
    z-index: 4;
    position: relative;
}
.glass-box:after, .glass-box-transform:after  {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: -20px;
} 

@supports not (backdrop-filter: none) {
    .glass-box:after, .glass-box-transform:after  {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }
}
.glass-box div:first-child > p:first-child {
    font-size: 3em;
    font-weight: bold;
    margin: .5em 0 .75em;
}
.ring {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: -375px;
    right: -100px;
    box-sizing: border-box;
    position: absolute;

    z-index: 2;
}
.ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -110px;
    box-sizing: border-box;
}
.ring-2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: 100px;
    right: 200px;
    box-sizing: border-box;
    position: absolute;

    z-index: 2;
}
.blake-stagner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: #fff;
    max-width: 500px;
    margin: 0 0 0 auto;
    align-items: center;
}
.blake-stagner h1 {
    margin: 0;
    line-height: .8;
    z-index: 4;
}
.heading-1 {
    font-size: 1em;
    transition: all ease 500ms;
}
.heading-animate-1 {
    font-size: 10em;
    left: 100px;
    transition: all ease 500ms;
}
.heading-2 {
    font-size: 1em;
    transform: translate3d(-100vw, 150px, 0px);
}
.heading-animate-2 {
    font-size: 7em;
    left: 100px;
    transition: all ease 500ms;
    transition-delay: 500ms;
}
.circle-1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    transition: all ease-in-out 5000ms;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    position: absolute;
    z-index: 2;
    overflow: hidden;
}
.circle-1:before, .circle-2:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 50%);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: 2;
  }
  .circle-2 {
    top: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: rgb(218,174,81);
    background: radial-gradient(circle at bottom, rgba(218,174,81,1) 0%, rgba(213,51,105,1) 100%);
    position: absolute;
    z-index: 2;
    transition: all ease 6000ms;
    box-shadow: $shadow-md;
    overflow: hidden;
}
.details-text p {
    margin: 8px;
}
.details-text p:first-child {
    font-size: 1.5em;
    transition: all ease 250ms;
}
.details-animate p:first-child {
    font-size: 1em;
    transition: all ease 250ms;
    transform: translate3d(100vw, 0px, 0px);
}
.details-text p:nth-child(2) {
    font-size: 1.5em;
    transition: all ease 250ms;
    transition-delay: 250ms;
}
.details-animate p:nth-child(2) {
    font-size: 1em;
    transition: all ease 250ms;
    transform: translate3d(100vw, 0px, 0px);
}
.details-text p:nth-child(3) {
    font-size: 1.5em;
    transition: all ease 250ms;
}
.details-animate p:nth-child(3) {
    font-size: 1em;
    transition: all ease 250ms;
    transform: translate3d(100vw, 0px, 0px);
}
.details-text p:nth-child(4) {
    font-size: 1.5em;
    transition: all ease 250ms;
    transition-delay: 250ms;
}
.details-animate p:nth-child(4) {
    font-size: 1em;
    transition: all ease 250ms;
    transform: translate3d(100vw, 0px, 0px);
}
#blue-animation {
    background: $gradient-2;
    height: 125px;
    width: 50vw;
    position: absolute;
    left: 0;
    border-bottom-right-radius: 50px;
    top: 50vh;
    transition: all ease-in-out 1000ms;
    z-index: 1;
    box-shadow: $shadow-lg;
}
.blue-strip {
    transform: translate3d(-100vw, 0px, 0px);
    transition: all ease-in-out 1000ms;
}
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
    }
    .glass-box {
        margin: 0 auto;
        width: 90%;
        top: 0;
    }
    .hero > div {
        width: auto;
        height: 50%;
    }
    .hero > div:first-child {
        z-index: 2;
    }
    .blake-stagner {
        margin: 50px auto 0;
        align-items: center;
    }
    #blue-animation {
        top: 32vh !important;
        width: 75vw !important;
        height: 100px !important;
    }
}
@media (max-width: 320px) {
    .heading-animate-1 {
        font-size: 7em;
    }
    .heading-animate-2 {
        font-size: 6em;
        left: 100px;
        transition: all ease 500ms;
    }
    #blue-animation {
        height: 80px;
        top: 34vh !important;
    }
    .glass-box div:first-child > p:first-child {
        font-size: 2em;
    }
    .glass-box {
        height: 220px;
    }
}